<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title><%= title %> - Website Ujian Online</title>
    <% include ../../../partials/header.ejs %>
  </head>
  <body>
    <div class="min-h-full">
      <% include ../../../partials/navbar.ejs %>

      <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
          <div class="text-3xl font-bold text-gray-900 breadcrumbs">
            Checksum
          </div>
        </div>
      </header>
      <main data-aos="fade-in">
        <div class="max-w-7xl mx-auto py-6 px-6 md:px-8">
          <!-- START: Content -->
          <% include ../../../partials/alert.ejs %>

          <div class="mt-10 sm:mt-0">
            <div class="alert alert-info shadow-lg">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
                <span
                  >Silahkan tekan tombol periksa, untuk memeriksa keaslian hasil
                  ujian!</span
                >
              </div>
              <div class="flex-none">
                <a
                  href="/lecturer/checksum/<%= mataKuliah._id %>/periksa-checksum"
                  class="btn btn-sm btn-primary"
                  >Periksa</a
                >
              </div>
            </div>
          </div>
          <!-- END: Content -->
        </div>
      </main>
    </div>

    <% include ../../../partials/script.ejs %>
  </body>
</html>
