<label
  for="modal-create-mahasiswa"
  class="btn btn-sm md:btn-md btn-primary modal-button text-xs md:text-base"
  ><svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-4 md:h-6 w-4 md:w-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M12 6v6m0 0v6m0-6h6m-6 0H6"
    />
  </svg>
  Tambah
</label>
<input type="checkbox" id="modal-create-mahasiswa" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <form action="/admin/store-mahasiswa" method="POST">
      <div class="form-control">
        <label class="label" for="nama">
          <span class="label-text">Nama</span>
        </label>
        <input
          type="text"
          class="input input-primary input-bordered"
          name="nama"
          id="nama"
          required
        />
      </div>
      <div class="form-control">
        <label class="label" for="npm">
          <span class="label-text">NPM</span>
        </label>
        <input
          type="text"
          class="input input-primary input-bordered"
          name="npm"
          id="npm"
          required
        />
      </div>
      <div class="form-control">
        <label class="label" for="email">
          <span class="label-text">Email</span>
        </label>
        <input
          type="email"
          class="input input-primary input-bordered"
          name="email"
          id="email"
          required
        />
      </div>
      <div class="form-control">
        <label class="label" for="password">
          <span class="label-text">Password</span>
        </label>
        <input
          type="password"
          class="input input-primary input-bordered"
          name="password"
          id="password"
          required
        />
      </div>
      <div class="form-control">
        <label class="label" for="nohp">
          <span class="label-text">Nomor HP</span>
        </label>
        <input
          type="tel"
          class="input input-primary input-bordered"
          name="nohp"
          id="nohp"
        />
      </div>
      <div class="form-control">
        <label for="jenisKelamin" class="label">
          <span class="label-text">Jenis Kelamin</span>
        </label>
        <select
          class="select select-bordered select-primary w-full max-w-xs"
          name="jenisKelamin"
          id="jenisKelamin"
          required
        >
          <option value="" disabled="disabled" selected="selected">
            -Pilih Jenis Kelamin-
          </option>
          <option value="L">Laki-Laki</option>
          <option value="P">Perempuan</option>
        </select>
      </div>
      <div class="form-control w-full">
        <label for="programStudi" class="label">
          <span class="label-text">Program Studi</span>
        </label>
        <select
          class="select select-bordered select-primary w-full max-w-xs"
          name="programStudi"
          id="programStudi"
          required
        >
          <option value="" disabled="disabled" selected="selected">
            -Pilih Program Studi-
          </option>
          <% programStudies.forEach(programStudi => { %>
          <option value="<%= programStudi._id %>">
            <%= programStudi.nama %>
          </option>
          <% }) %>
        </select>
      </div>
      <div class="modal-action">
        <button type="submit" class="btn btn-primary">Tambah</button>
        <label for="modal-create-mahasiswa" class="btn">Tutup</label>
      </div>
    </form>
  </div>
</div>
