<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <img class="h-8 w-8" src="/images/logo.svg" alt="Workflow" />
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <a
              href="/admin/dashboard"
              class="
                <%= url === "dashboard" ? 
                "bg-gray-900 text-white" : 
                "text-gray-300 hover:bg-gray-700 hover:text-white" %>
                px-3
                py-2
                rounded-md
                text-sm
                font-medium
              "
              >Dashboard</a
            >

            <div class="dropdown dropdown-hover">
              <div
                tabindex="0"
                class="
                  <% if (url === "dosen" || url === "kelas" || url === "mahasiswa" || url === "mata-kuliah" || url === "program-studi") { %>
                    bg-gray-900 text-white
                  <% } else { %>
                    text-gray-300 hover:bg-gray-700 hover:text-white
                  <% } %>
                  px-3
                  py-2
                  rounded-md
                  text-sm
                  font-medium
                "
              >
                Data Master
              </div>
              <ul
                tabindex="0"
                class="
                  p-2
                  shadow
                  menu
                  dropdown-content
                  bg-base-100
                  rounded-box
                  w-52
                "
              >
                <li>
                  <a href="/admin/dosen">Dosen</a>
                </li>
                <li>
                  <a href="/admin/kelas">Kelas</a>
                </li>
                <li>
                  <a href="/admin/mahasiswa">Mahasiswa</a>
                </li>
                <li>
                  <a href="/admin/mata-kuliah">Mata Kuliah</a>
                </li>
                <li>
                  <a href="/admin/program-studi">Program Studi</a>
                </li>
              </ul>
            </div>

            <a
              href="/admin/bank-soal"
              class="
                <%= url === "bank-soal" ? 
                "bg-gray-900 text-white" : 
                "text-gray-300 hover:bg-gray-700 hover:text-white" %>
                px-3
                py-2
                rounded-md
                text-sm
                font-medium
              "
              >Bank Soal</a
            >

            <a
              href="/admin/hasil-ujian"
              class="
                <%= url === "hasil-ujian" ? 
                "bg-gray-900 text-white" : 
                "text-gray-300 hover:bg-gray-700 hover:text-white" %>
                px-3
                py-2
                rounded-md
                text-sm
                font-medium
              "
              >Hasil Ujian</a
            >
          </div>
        </div>
      </div>
      <div class="hidden md:block">
        <div class="ml-4 flex items-center md:ml-6">
          <!-- Profile dropdown -->
          <div class="dropdown dropdown-left">
            <div tabindex="0" class="ml-3 relative">
              <div>
                <button
                  type="button"
                  class="
                    max-w-xs
                    bg-gray-800
                    rounded-full
                    flex
                    items-center
                    text-sm
                    focus:outline-none
                    focus:ring-2
                    focus:ring-offset-2
                    focus:ring-offset-gray-800
                    focus:ring-white
                  "
                  id="user-menu-button"
                  aria-expanded="false"
                  aria-haspopup="true"
                >
                  <img
                    class="h-8 w-8 rounded-full"
                    src="/images/computer.png"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <ul
              tabindex="0"
              class="
                p-2
                shadow
                menu
                dropdown-content
                bg-base-100
                rounded-box
                w-52
              "
            >
              <li>
                <a href="/<%= payload.data.role === 1 ? "admin" : payload.data.role === 0 ? "dosen" : "" %>/profile">Profile</a>
              </li>
              <li>
                <a href="/sign-out">Keluar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
