<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title><%= title %> - Website Ujian Online</title>
    <% include ../../partials/header.ejs %>
  </head>
  <body>
    <div class="min-h-full">
      <% include ../../partials/navbar.ejs %>

      <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold text-gray-900">Bank Soal</h1>
        </div>
      </header>
      <main data-aos="fade-in">
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
          <% include ../../partials/alert.ejs %>
          <!-- START: Content -->
          <% for( let index = 0; index < dosen.mataKuliah.length; index++ ) { %>
          <a
            href="/lecturer/bank-soal/<%= dosen.mataKuliah[index]._id %>"
            type="button"
            class="flex flex-col"
          >
            <div class="card bg-gray-800 shadow-lg mb-6">
              <div class="card-body">
                <div class="flex flex-row space-x-2 text-white">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path d="M12 14l9-5-9-5-9 5 9 5z" />
                    <path
                      d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                    />
                  </svg>
                  <h2 class="card-title">
                    <%= dosen.mataKuliah[index].nama %>
                  </h2>
                </div>
                <div class="flex flex-row space-x-2 text-primary">
                  <% for( let x = 0; x <
                  dosen.mataKuliah[index].programStudi.length; x++ ) { %>
                  <div class="badge badge-primary badge-outline">
                    <%= dosen.mataKuliah[index].programStudi[x].nama %>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </a>
          <% } %>
          <!-- END: Content -->
        </div>
      </main>
    </div>

    <% include ../../partials/script.ejs %>
  </body>
</html>
